//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Typography
//
$secondary-font-family:                             -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$secondary-font-size:                               16px !default;
$secondary-line-height:                             1.5 !default;      // 24px

$secondary-xxlarge-font-size:                       2.625rem !default; // 42px
$secondary-xlarge-font-size:                        2rem !default;     // 32px
$secondary-large-font-size:                         1.5rem !default;   // 24px
$secondary-medium-font-size:                        1.25rem !default;  // 20px
$secondary-small-font-size:                         0.875rem !default; // 14px

$tertiary-font-family:                             -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$tertiary-font-size:                               16px !default;
$tertiary-line-height:                             1.5 !default;      // 24px

$tertiary-xxlarge-font-size:                       2.625rem !default; // 42px
$tertiary-xlarge-font-size:                        2rem !default;     // 32px
$tertiary-large-font-size:                         1.5rem !default;   // 24px
$tertiary-medium-font-size:                        1.25rem !default;  // 20px
$tertiary-small-font-size:                         0.875rem !default; // 14px

//
// Colors
//

//
// Backgrounds
//

//
// Borders
//

//
// Spacings
//

//
// Controls
//

//
// Z-index
//
